html,body{
	width: 100%;
	height: 100%;
}

.background{
	background: url("../image/image.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.aside{
	background-color: grey;
	height: 90vh;
}

.formlogin{
	border: solid 1px #cccccc;
	border-radius: 20px;
	margin-top: 20vh;
	padding: 30px;
	color: #FFFFFF;
	/*background: #000000;
	opacity: .5;*/
}

.content-page{
	width: 100%;
	height: 100%;
	overflow-y:scroll;
}

.formlogin .form-group input{
	background: none;
	color: #FFFFFF;
}

/*.message{
	background: #FF66FF;
	width: 100%;
	height: 5vh;
	text-align: center;
	line-height: 5vh;
	color: #FF0000;
	border-radius: 5px;
	display: none;
}*/

.form-add , .form-update{
	display: none;
}
.m-success{
	text-align: center;
	background: #00CC33;
	border-radius:5px;
	color: #FFFFFF;
	display: none;
}

.m-failed{
	text-align: center;
	background: #FF66CC;
	border-radius:5px;
	color: #FFFFFF;
	display: none;
}
